.noticiaPrincipal {
  z-index: -2;
  
}
.bgNoticiasDestacadas {
    background: #292828;

}

.tituloNoticias {
  margin-top: -400px;
  text-align: center;
  z-index: 1;
  color: #F30016;
 
 
}

.subtituloNoticias {
  justify-content: center;
  margin-top: -300px;
  position: relative;
  height: 100px;
  text-align: center;
  z-index: 1;
  

}

.bgCard {
  background: #292828;
  border: #292828 1px solid;
}

.botonCategoria {
  text-decoration: none;
}
