.bgNoticiaPrincipal {
  position: relative;
  width: 100%;
  height: 1000px;
  background: linear-gradient(rgba(241, 236, 236, 0.027), #292828);
  z-index: 1;
  /* border: red 3px solid; */
}
.noticiaPrincipal {
  z-index: -2;
  
}
.NoticiasDestacadas {
  height: 240px;
  background: #292828;
  
}

.divNoticiasDestacadas{
  position: relative;
  margin-top: 0;

}

.tituloNoticias {
  margin-top: -400px;
  text-align: center;
  z-index: 1;
  color: #c10000;
}

.subtituloNoticias {
  margin-top: -300px;
  position: relative;
  height: 100;
  text-align: center;
  z-index: 1;
}

.bgCard {
  background: #292828;
  border: #292828 1px solid;
}

.botonCategoria {
  text-decoration: none;
}
