.imagenDiarios {
  height: 750px;
  position: absolute;
  z-index: -1;
  width: 100%;
}
.divBienvenidos {
  margin-top: 60px;
  padding-top: 20px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 50px;
  border-radius: 12%;
  margin-bottom: 90px;
}
.botonInicio {
  margin-left: 20px;
}

.bgBotonInicio {
  background-color: #3f3e3e6c;
  color: white;
  width: 90px;
}
.divLogin{
  width: 750px;
  position: relative;

}

.bgLogin{
  background-image: url(/src/img/redaccion.jpg);
  background-size: cover;
  height: 700px;
  width: 100%;
  
}

.borderPrueba{
  border: 1px red solid;
}

.bgBannerTiempo{
  background: rgb(233,226,226);
  background: linear-gradient(90deg, rgba(233,226,226,1) 0%, rgba(215,209,209,1) 31%, rgba(224,217,217,1) 100%);
}

.bgNavbar{
background: #4D4D4D;
}

.wboton{
margin-left: 50px; 
width: 100px;
}

@media all and (max-width: 1023px) {
}
@media all and (min-width: 768px) and (max-width: 1024px) {
}
