.bgLogin{
    background-color: #AAAFC3;
}

.imagenDiarios{
    height: 700px;

}
.divBienvenidos{
    margin-top: 60px;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 50px;
    border-radius: 12%;
    margin-bottom: 90px;
    width: 350px;





}