@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
}

.rotuloCategoria {
  border: #F30016 2px solid;
  width: 130px;
}

.detalleNoticia {
  text-align: center;
  font-size: 18px;
}
.wbajada{
  width: 65%;
}

.fs8 {
  font-size: 14px;
}

html {
  font-family: "PT Serif", serif;
  background: #fff;
}
.media {
  display: flex;
  justify-content: left;
  padding-left: 50px;
}

.banner {
  display: grid;
  align-items: center;
  padding: 20px 0px;
  margin-top: 8px;
}
.titulo {
  padding: 0 2rem;
  line-height: 1.7;
}

.pie {
  padding: 20px 50px;
  font-size: 14px;
  color: #252525;
}
/* .cuerpo {
  color: #252525;
  padding: 20px;
  font-size: 20px;
  margin: 0 0 31px;
  text-align: left;
  line-height: 34px;
  padding-left: 100px;
  padding-right: 100px;
} */
.publicidad1 {
  display: flex;
  height: 200px;
  justify-content: center;
}
/* .cuerpo2 {
  color: #252525;
  padding: 20px;
  font-size: 20px;
  margin: 20px 0;
  padding-left: 130px;
  padding-right: 100px;
} */
.ending {
  display: flex;
  justify-content: end;
  color: #c10000;
  padding: 5px 30px;
}
.ending2 {
  display: flex;
  justify-content: end;
  color: #c10000;
  padding: 5px 30px;
}
.masnoticias {
  background: #fff;
  padding: 20px;
  font-size: 12px;
  margin: 20px 0;
}
.mdetallenoticias{
  margin-top: 50px;

}
.wdetalle{
  width: 75%;
}

@media all and (max-width: 1023px) {
  

}

@media all and (min-width: 768px) and (max-width: 1024px) {

}
@media all and (min-width: 300px) and (max-width: 767px) {
  .mdetallenoticias{
    margin-top: 70px;
    }
    .wdetalle{
      width: 90%;
    }
}



