@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;700;800&display=swap");

.bannerClima {
  height: 30px;
}
.iconosClima {
  height: 40px;
  width: 40px;
}
.fuente {
  font-size: 14px;
  color: black;
}

.bgBannerTiempo {
  background: rgb(233, 226, 226);
  background: linear-gradient(
    90deg,
    rgba(233, 226, 226, 1) 0%,
    rgba(215, 209, 209, 1) 31%,
    rgba(224, 217, 217, 1) 100%
  );
}

.colorFuenteGris {
  color: #666666;
}

.fuenteRolling{
  font-family: "Raleway", sans-serif;
}
.marginApis{
  margin-top: 64px;

}

@media all and (max-width: 1023px) {

}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .marginApis{
    margin-top: 49px;
  
  }

}
@media all and (min-width: 300px) and (max-width: 767px) {
  .marginApis{
    margin-top: 110px;
  
  }
  
}
