.contenedor{
    border:red 1px solid;
    padding: 30px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.caja{
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(128, 128, 128, 0.411);
    width: 200px;
    height: 100px;
    border-radius: 10px;
    margin: 25px 0px;
}
.form-top{
    display: flex;
    justify-content: space-between;
}
.autor{
    width: 32%;
}
.titulo{
    width: 65%;
}
.btn-publish{
    width: 60%;
    height: 38px;
    margin: 25px 0px;
    background: #c00000;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 17px;
}
